.btn {
  padding: 12px 18px;
  margin: 0px 20px 20px 20px;
  border-radius: 12px;
  font-weight: 700;
  outline: none;
  border: none;
  text-align: left;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
}

.likeCount {
  background-color: hsla(226, 100%, 65%, 0.15);
  color: #4d77ff;
}
.downloadCount {
  background-color: hsla(128, 48%, 61%, 0.15);
  color: #6bcb77;
}
.newImage {
  background-color: hsla(0, 89%, 64%, 0.15);
  color: #f55353;
  cursor: pointer;
}
.downloadImage {
  background-color: hsla(22, 12%, 26%,0.5);
  cursor: pointer;
}
.downloadImage a{
  text-decoration: none;
  /* color: #fafafa; */
}

